input, select, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: content-box;
    border: 1px solid darkblue;
}

label {
    width: 200px;
    display: block;

}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    min-width: 200px;
}
