@media print {
    #menu, footer, #log_and_cart, .logout, .sorting_radios,  .categoryMenu{
        display: none;
    }
    .blogPostPreview > img {
        width: 100px;
    }

    .pageHeading {
        color: black;
        display: block;
        text-shadow: none;
    }
}